<%= render "shared/navbar" %>

<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
 
  <div class= "container-fluid">
      <div class="row" id="contenu_inscription">
              <div class="col-md-6 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                  
                      <div id="accroche">
                          <h1 class="display-3"><kbd>Paul Emploi</kbd></h1>
                          <p class="lead"><kbd>Le site qui met en relation les étudiants et les particuliers</kbd></p>
                      </div>
                     <br>
                     
                           <% if @profil == "default" then %> 
                      
                               <form class="form-inline" action="/index" method="POST">
                                    <div class="form-group">
                                    <input type="email" class="form-control" id="InputEmail1" placeholder="e-mail" name="inscription[email]">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Me pré-inscrire !</button>
                               </form>
                           
                           <% else %>
                                 <% if @deja_inscrit=="true"%>
                                  <form class="form-inline" action="/index" method="POST">
                                    <div class="form-group">
                                    <input type="email" class="form-control" id="InputEmail1" placeholder="e-mail" name="inscription[email]">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Me pré-inscrire !</button>
                               </form>
                                    <div id="message_mail_adresse_existe"> L'adresse <%=@profil%> existe déjà.</div>
                               
                                 <% else %>
                                   <h1 id="message_mail"> Merci <%=@profil%> de vous être inscrit</h1>
                                 <% end %>
                         
                           <% end %>
                         
             
               </div>
       </div>
  
  
  
 
  
  <div id="one">
       <div class="row">
           <h1>Comment ca marche</h1>
               
         </div>
  
  </div>
  
  <h4 id="two">Je suis étudiant</h4>
  
  <h4 id="three">Je cherche un étudiant</h4>

</div>
  
  
</div>