<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Paul Emploi</a>
  
  <ul class="nav nav-pills">
   
   
   
    <li class="nav-item">
      <a class="nav-link" id="identification" href="#mdo">M'identifier</a>
    </li>
   
   
 
  </ul>
</nav>

<div>
<h1> il y a <%=@lesinscrits.count%> membres dans la base</h1>
               <%  @lesinscrits.each do |f|  %>  
                   <p></p>
                   ---------------------------
                   <p> <%= f.email %>   <%=link_to "Effacer", :controller=>'index', :action=>'effacer_inscription', :id=>f.id%>    </p>
               
                   
               
               <% end %>
</div>