<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Paul Emploi</a>
  
  <ul class="nav nav-pills">
   
    <li class="nav-item">
      <a class="nav-link" href="/tous">Inscrits</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" id="identification" href="#mdo">M'identifier</a>
    </li>
   
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
       
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#one">Comment ça marche ?</a>
            <div role="separator" class="dropdown-divider"></div> 
            <a class="dropdown-item" href="#two">Je suis étudiant</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#three">Je cherche un étudiant</a>
      </div>
    </li>
 
  </ul>
</nav>